extends ../../layout/default.pug
block main_content 
        main.main-content
            section.home-slide-area
                img(src='./images/7872310.jpg' alt='' srcset='')
            section.product-area.product-range.container-fluid.d-flex.flex-row.justify-content-center.flex-wrap
                .product-range-item
                    .product-range-introdution
                        h2.title Puma shoes
                        img(src='./images/puma.jpg' alt='' srcset='')
                .product-range-item
                    .product-range-introdution
                        h2.title Nike shoes
                        img(src='./images/nike3.jpg' alt='' srcset='')
                .product-range-item
                    .product-range-introdution
                        h2.title Puma shoes
                        img(src='./images/nike.jpg' alt='' srcset='')
        

