extends ../../layout/default.pug
include ../../mixins/order_infor.pug
include ../../mixins/pagination.pug
include ../../mixins/detailProduct.pug

block main
  .wrapper
    include ../../partials/sider.pug
    .main
      include ../../partials/header.pug
      +order_infor()
      +pagination(pagination)





