/* --------------------Cart Css------------------- */
.product-carts {
  height: fit-content;
  border-radius: 20px;
  background: white;
}

.products-cart-content {
  height: fit-content;
  max-height: 550px;
  background: white;
}
.product-in-cart {
  width: 95%;
  height: 177px;
}
.product-in-cart img {
  width: 90%;
  height: 100%;
  border-radius: 20px;
}
.small-text {
  color: #cecdcc;
}
.quantity-button {
  font-size: 150%;
  width: 25%;
  border-radius: 10px;
  background: white;
}
.quantity-button:hover {
  background-color: yellow;
}
.price-text {
  color: #f8e35e;
}
.payment-section {
  height: 700px;
  border-radius: 20px;
  background: white;
}
.shipping-section {
  height: 25%;
  font-size: 15px;
}
.shipping-section select {
  width: 100%;
  height: 20%;
  border-radius: 20px;
}
.shipping-section option {
  font-size: 15px;
}
.couppon-section {
  height: 27%;
}
.couppon-section input {
  width: 100%;
  height: 20%;
  border-radius: 20px;
  font-size: 15px;
}
.couppon-apply-button {
  width: 40%;
  height: fit-content;
  border-radius: 20px;
  background: black;
}
.cart-total-section {
  height: 40%;
  background: red;
  border-radius: 20px;
  background: #f8bf64;
}
.cart-total-section button {
  width: 100%;
  border-radius: 20px;
  background: white;
  border: 0px;
}
.couppon-text {
  color: white;
}
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* --------------------Admin Css------------------- */
/*  */
